<div class="row">
    <div class="small-12 columns">
        <h2 class="align-center">Edit Details</h2>
        
        <%= form_for(@user) do |f| %>
            <div class="row">
                <div class="small-3 medium-2 medium-offset-2 columns">
                    <%= f.label :first_name, class: 'right inline' %>
                </div>
                
                <div class="small-9 medium-6 columns end">
                    <%= f.text_field :first_name, class: 'form-control' %> 
                </div>
            </div>
            
            <div class="row">
                <div class="small-3 medium-2 medium-offset-2 columns">
                    <%= f.label :last_name, class: 'right inline' %>
                </div>
                
                <div class="small-9 medium-6 columns end">
                    <%= f.text_field :last_name, class: 'form-control' %> 
                </div>
            </div>
            
            <div class="row">
                <div class="small-3 medium-2 medium-offset-2 columns">
                    <%= f.label :username, class: 'right inline' %>
                </div>
                
                <div class="small-9 medium-6 columns end">
                    <%= f.text_field :username, class: 'form-control' %> 
                </div>
            </div>
             
            <div class="row">
                <div class="small-3 medium-2 medium-offset-2 columns">
                    <%= f.label :password, class: 'right inline' %>
                </div>
                
                <div class="small-9 medium-6 columns end"> 
                    <%= f.password_field :password, class: 'form-control', :required => true %>
                </div>
            </div>
            
            <div class="row">
                <div class="small-2 small-offset-5 medium-1 medium-offset-5 columns end">
                    <%= f.submit "Save Changes", class: 'button radius quizzes-orange back-black' %>
                </div>
            </div>
        <% end %>
    </div>
</div>