<div class="row padding">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-10 small-offset-1 columns end">
                <p><%= "User Information for: #{current_user.first_name} #{current_user.last_name}" %></p>
                
                <ul class="base-ul side-nav">
                    <li><h4 class="quizzes-orange">Course Information</h4></li>

                    <div class="row">
                        <div class="small-12 columns">
                            <ul>
                                <% getCourses.each do |c| %>
                                
                                <li class="back-black align-center"><p class="quizzes-orange"><%= c.name %></p></li>
                                
                                <li><h5 class="quizzes-orange">Clusters</h5></li>
                                    <ul>
                                        <% getClusters(c.id).each do |cl| %>
                                        
                                        <li><%= cl.name %></li>
                                        
                                        <li><h5 class="green">Units</h5></li>
                                            <ul>
                                                <% getUnits(cl.id).each do |u| %>
                                                    <li><%= u.name %></li>
                                                    <li>
                                                        <ul>
                                                            <% getQuiz(u.id).each do |qu| %>
                                                            <li><%= qu.title %></li>
                                                            <li><%= link_to "Question", {:controller => "UserQuizController", :action }%></li>
                                                            <% end %>
                                                        </ul>
                                                    </li>
                                                    
                                                <% end %>
                                            </ul>
                                        <% end %>
                                    </ul>
                                <% end %> 
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
