<h1>ApplicationPages#question</h1>


    <h4 class="quizzes-orange"><h4>
    
    <!-- Need to get quiz from Home -->
    <%= form_for getUserQuizAnswers(1,session[:user_id]).each do |uqa| %>
        
            <% question = Question.where(question_id: uqa.question_id) %>
        
            <% if question.type_id == 1 %> <!-- Mutliple Choice-->
                <h5 class="quizzes-orange"><%=  question.content %></h5>
                
                    <% getQuestionExtra(question.id).each do |qe|%>
                        <div class="row">
                            <div class="small-3 medium-2 medium-offset-2 columns">
                                <%= uqa.label qe.content %>
                                <%= uqa.radio_button :question_extra_id, qe.id%>
                            </div>
                        </div>
                    <% end %>
                    
            <% end %>
            
            
            
            <% if question.type_id == 2 %> <!--  Text Field -->
                
                <h5 class="quizzes-orange align-center"><%= question.content %></h5>
                
                <div class="row">
                    <div class="small-2 small-offset-5 medium-1 medium-offset-5 columns end">
                        <%= uqa.label "Answer: " %>
                        <%= uqa.text_field :answer_text%>
                    </div>
                </div>
                
                <div class="row">
                    <div class="small-2 small-offset-5 medium-1 medium-offset-5 columns end">
                        <%= uqa.submit  "Answer", class: 'button radius quizzes-orange back-black'%>
                    </div>
                </div>
            <% end %>
            
            
            <% if question.type_id == 3 %> <!-- True or false -->
            
                <h5 class="quizzes-orange"><%= question.content %></h5>
                <p> TRUE OR FALSE</p>
                
                <div class="row">
                    <div class="small-2 small-offset-5 medium-1 medium-offset-5 columns end">
                        <%= uqa.submit  "Answer", class: 'button radius quizzes-orange back-black' %>
                    </div>
                </div>
                    
            <% end %>
            
            
        
        
    <% end %>

    
    
    
<p>Find me in app/views/application_pages/question.html.erb</p>
