<h1>ApplicationPages#question</h1>


    <h4 class="quizzes-orange"><h4>
        
    <%= form_for(@gustavo) do |f| %>
        <% getQuestions(@pornhub.to_i).each do |q| %>
            <p><%= q.content %></p>
            
            <% if q.type_id == 1 %> <!-- Mutliple Choice-->
                <h5 class="quizzes-orange"><%=  q.content %></h5>
                
                    <% getqExtra(q.id).each do |qe|%>
                        <div class="row">
                            <div class="small-3 medium-2 medium-offset-2 columns">
                                <%= uqa.label qe.content %>
                                <%= uqa.radio_button :question_extra_id, qe.id%>
                            </div>
                        </div>
                    <% end %>
                    
            <% end %>
            
            
            
            <% if q.type_id == 2 %> <!--  Text Field -->
                
                <h5 class="quizzes-orange align-center"><%= q.content %></h5>
                
                <div class="row">
                    <div class="small-2 small-offset-5 medium-1 medium-offset-5 columns end">
                        <%= uqa.label "Answer: " %>
                        <%= uqa.text_field :answer_text%>
                    </div>
                </div>
                
            <% end %>
            
            
            <% if q.type_id == 3 %> <!-- True or false -->
            
                <h5 class="quizzes-orange"><%= q.content %></h5>
                <p> TRUE OR FALSE</p>
                
                <div class="row">
                    <div class="small-2 small-offset-5 medium-1 medium-offset-5 columns end">
                    </div>
                </div>
                    
            <% end %>
        <% end %>
        
        <%= f.submit "Gustavo is a twat" %>
    <% end %>

<p>Find me in app/views/application_pages/question.html.erb</p>